In [1]:
import pandas as pd
import numpy as np

In [2]:
cd= pd.read_csv("Company_Data.csv")

In [3]:
cd.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
cd.shape

(400, 11)

In [5]:
cd.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [6]:
cd.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [7]:
df=pd.DataFrame(cd) # Defining The data frame

In [8]:
# create dummies for ShelveLoc
dummies = pd.get_dummies(df['ShelveLoc']).rename(columns=lambda x: 'ShelveLoc_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price ShelveLoc  Age  \
0     9.50        138      73           11         276    120       Bad   42
1    11.22        111      48           16         260     83      Good   65
2    10.06        113      35           10         269     80    Medium   59
3     7.40        117     100            4         466     97    Medium   55
4     4.15        141      64            3         340    128       Bad   38
..     ...        ...     ...          ...         ...    ...       ...  ...
395  12.57        138     108           17         203    128      Good   33
396   6.14        139      23            3          37    120    Medium   55
397   7.41        162      26           12         368    159    Medium   40
398   5.94        100      79            7         284     95       Bad   50
399   9.71        134      37            0          27    120      Good   49

     Education Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium
0           17   Yes  Yes              1               0                 0
1           10   Yes  Yes              0               1                 0
2           12   Yes  Yes              0               0                 1
3           14   Yes  Yes              0               0                 1
4           13   Yes   No              1               0                 0
..         ...   ...  ...            ...             ...               ...
395         14   Yes  Yes              0               1                 0
396         11    No  Yes              0               0                 1
397         18   Yes  Yes              0               0                 1
398         12   Yes  Yes              1               0                 0
399         16   Yes  Yes              0               1                 0

[400 rows x 14 columns]

In [9]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,1,0,0
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,0,1,0
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,0,0,1
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,0,0,1
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No,1,0,0

In [10]:
df = df.drop('ShelveLoc', 1)

In [11]:
# create dummies for Urban Column
dummies = pd.get_dummies(df['Urban']).rename(columns=lambda x: 'Urban_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price  Age  Education  \
0     9.50        138      73           11         276    120   42         17
1    11.22        111      48           16         260     83   65         10
2    10.06        113      35           10         269     80   59         12
3     7.40        117     100            4         466     97   55         14
4     4.15        141      64            3         340    128   38         13
..     ...        ...     ...          ...         ...    ...  ...        ...
395  12.57        138     108           17         203    128   33         14
396   6.14        139      23            3          37    120   55         11
397   7.41        162      26           12         368    159   40         18
398   5.94        100      79            7         284     95   50         12
399   9.71        134      37            0          27    120   49         16

    Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  Urban_No  \
0     Yes  Yes              1               0                 0         0
1     Yes  Yes              0               1                 0         0
2     Yes  Yes              0               0                 1         0
3     Yes  Yes              0               0                 1         0
4     Yes   No              1               0                 0         0
..    ...  ...            ...             ...               ...       ...
395   Yes  Yes              0               1                 0         0
396    No  Yes              0               0                 1         1
397   Yes  Yes              0               0                 1         0
398   Yes  Yes              1               0                 0         0
399   Yes  Yes              0               1                 0         0

     Urban_Yes
0            1
1            1
2            1
3            1
4            1
..         ...
395          1
396          0
397          1
398          1
399          1

[400 rows x 15 columns]

In [12]:
# create dummies for US Column
dummies = pd.get_dummies(df['US']).rename(columns=lambda x: 'US_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price  Age  Education  \
0     9.50        138      73           11         276    120   42         17
1    11.22        111      48           16         260     83   65         10
2    10.06        113      35           10         269     80   59         12
3     7.40        117     100            4         466     97   55         14
4     4.15        141      64            3         340    128   38         13
..     ...        ...     ...          ...         ...    ...  ...        ...
395  12.57        138     108           17         203    128   33         14
396   6.14        139      23            3          37    120   55         11
397   7.41        162      26           12         368    159   40         18
398   5.94        100      79            7         284     95   50         12
399   9.71        134      37            0          27    120   49         16

    Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  Urban_No  \
0     Yes  Yes              1               0                 0         0
1     Yes  Yes              0               1                 0         0
2     Yes  Yes              0               0                 1         0
3     Yes  Yes              0               0                 1         0
4     Yes   No              1               0                 0         0
..    ...  ...            ...             ...               ...       ...
395   Yes  Yes              0               1                 0         0
396    No  Yes              0               0                 1         1
397   Yes  Yes              0               0                 1         0
398   Yes  Yes              1               0                 0         0
399   Yes  Yes              0               1                 0         0

     Urban_Yes  US_No  US_Yes
0            1      0       1
1            1      0       1
2            1      0       1
3            1      0       1
4            1      1       0
..         ...    ...     ...
395          1      0       1
396          0      0       1
397          1      0       1
398          1      0       1
399          1      0       1

[400 rows x 17 columns]

In [13]:
df = df.drop('Urban', 1)

In [14]:
df = df.drop('US', 1)

In [15]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0

In [16]:
row_indexes=df[df['Sales']>=10].index

In [17]:
df.loc[row_indexes,'sales']="yes"

In [18]:
row_indexes=df[df['Sales']<10].index

In [19]:
df.loc[row_indexes,'sales']="no"

In [20]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,sales
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1,no
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1,yes
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1,yes
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1,no
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0,no

In [21]:
df = df.drop('Sales', 1)

In [22]:
colnames = list(df.columns)
colnames

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education',
 'ShelveLoc_Bad',
 'ShelveLoc_Good',
 'ShelveLoc_Medium',
 'Urban_No',
 'Urban_Yes',
 'US_No',
 'US_Yes',
 'sales']

In [23]:
predictors = colnames[:14]
target = colnames[14]

In [24]:
target

'sales'

In [25]:
predictors

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education',
 'ShelveLoc_Bad',
 'ShelveLoc_Good',
 'ShelveLoc_Medium',
 'Urban_No',
 'Urban_Yes',
 'US_No',
 'US_Yes']

In [26]:
X = df[predictors]
Y = df[target]
X

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [27]:
X

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [28]:
Y

0       no
1      yes
2      yes
3       no
4       no
      ...
395    yes
396     no
397     no
398     no
399     no
Name: sales, Length: 400, dtype: object

In [29]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=15,criterion="entropy")

In [30]:
rf.fit(X,Y) # Fitting RandomForestClassifier model from sklearn.ensemble 
rf.estimators_ #

C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:540: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:544: RuntimeWarning: invalid value encountered in true_divide
  decision = (predictions[k] /

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1802121865),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=478814260),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=459995407),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1815948178),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=993459425),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1224765026),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=741889677),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=299613798),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1406218730),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1324345269),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=665454554),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=157741366),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=687163502),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1083766826),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=683631717)]

In [31]:
rf.classes_ # class labels (output)
rf.n_classes_ # Number of levels in class labels

2

In [32]:
rf.n_features_  # Number of input features in model 14 here.

14

In [33]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [34]:
rf.oob_score_  # 0.84

0.8525

In [35]:
rf.predict(X)

array(['no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no'], dtype=object)

In [36]:
df['rf_pred'] = rf.predict(X)

In [37]:
cols = ['rf_pred','sales']

In [39]:
cols

['rf_pred', 'sales']

In [40]:
from sklearn.metrics import confusion_matrix
confusion_matrix(df['sales'],df['rf_pred'])

array([[321,   0],
       [  1,  78]], dtype=int64)